.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  font-size: 12px;
}
.imgStyle {
  width: 10vw;
  height: 10vh;
}
.hover:hover {
  color: #ff933b;
}
